nav {
  background-color: rgb(139, 14, 14);
}

#about {
  background-color: #eee;
}

#product {
  min-height: 500px;
}

#product h3 {
  color: rgb(139, 14, 14);
}

input {
  box-shadow: 0px 0px 10px #ccc;
}

footer a {
  opacity: .7;
  transition: .3s;
  cursor: pointer;
}

footer a:hover {
  opacity: 10;
}